body{
color: white;
background-image: url("bgfull.jpg");
background-repeat: no-repeat;
background-position: top;
background-size: auto;
}

.adjust-line-height{
  line-height: 5px;
}
.titlename{
  font-size: 6em;
}
.titlesub{
  font-size: 1.5em;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #0001;
  overflow: hidden;

}

.footer{

  height: 60px;
  width: 100%;
  margin-left: 0;
  margin-top: 40px;
opacity: 0.0;

}
.pawri{
  border-radius: 30px;
  height: 300px;
  width: auto;
  margin-left: 40px;
  margin-top: 40px;

}

.pawri1{
  border-radius: 0;
  height: 800px;
  width: 700px;
  margin-top: 20px;

}
.abouttext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutbox {
  position: relative;
  text-align: center;

}
a:link, a:visited {
  text-decoration: none;
  color: white;
}
.pawrihori{
  border-radius: 30px;
  height: 300px;
  width: auto;
  margin-right: 40px;
  margin-top: 40px;

}
/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.logo{
border-radius: 100%;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav .active {
  background-color: #252B4C;
  color: white;
}


/* SOCIAL MEDIA BUTTONS */
.fa{
  text-decoration: none;
  padding: 40px;
  width: 300px;
}

.fa:hover {
    opacity: 0.7;
}

.fab{
  padding: 40px;
  width: 300px;
}

.fab:hover {
    opacity: 0.7;
}


.fa-github
{ border-radius: 20px;
  background: black;
  color: white;

}

.fa-discord
{ border-radius: 20px;
  background: #3B5998;
  color: white;

}


.fa-twitter {
  border-radius: 20px;
  background: #55ACEE;
  color: white;
}

.fa-google {
  border-radius: 20px;
  background: #dd4b39;
  color: white;
}



.fa-youtube {
  border-radius: 20px;
  background: #bb0000;
  color: white;
}

.fa-instagram {
  border-radius: 20px;
  background: #125688;
  color: white;
}
