@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

html, body{
    font-family: 'Nunito', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    
}

::selection {
    color: rgb(0, 0, 0);
    background: #f8ff25;
}
  
img{
   cursor: pointer; 
}