.full{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    color: white;
}

.inside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    
}


.content-img{
    height: 20rem;
    width: 20rem;
}

img{
    height: 10rem;
    width: 10rem;
}