p{
    color: white;
   font-size: 5rem;
}

.full{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.tiles{
    width: 60vw;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

.social-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
 /* background-color: brown; */
}

.social-tile:hover{
    transform: scale(1.2);
    transform: rotate(360deg);
    transition: 0.5s;
}

img{
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .tiles{
        
        height: 80vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}