         
   .navbar-custom {
    background-color: 
black}
 
body{
    background-color: black;
/* max-width: fit-content; */
}

.content{
    /* margin-top: -5rem; */
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20.2rem;
    color: white;
}

.contacts{
float: right;
/* margin: 0; */
/* margin-right: -3rem; */
   position:fixed;
    top: 95%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.profile{
    position:absolute;
   bottom:0;
   


}

.photo{
    /* margin-bottom: -4rem; */
/* height: 40rem; */
width: 60%;
}


.picture{
    position:absolute;
    bottom:0;
    /* width:100%; */
    /* height:60px; */
}

.txt-content{
    margin-right: 4rem;
    margin-top: 4rem;
    width: 50%;
    float: right;
}

.about-title{
    color: white;
    font-size: 4rem;
}

.edits-title{
    color: white;
    font-size: 3rem;
}

.about-desc{
    color: white;
}



@media screen and (min-width: 480px) {
     
/* body{
    background-color: pink;
} */
    .content{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 20.2rem;
        color: white;
    }
    
    .contacts{
    float: right;
    /* margin: 0; */
    /* margin-right: -3rem; */
       position:fixed;
        top: 95%;
        left: 90%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      
    }
    
    .profile{
        position:absolute;
       bottom:0;
       
    
    
    }
    .photo{
    height: auto;
}

    
    .picture{
        position:absolute;
        bottom:0;
        /* width:100%; */
        /* height:60px; */
    }
    
    .txt-content{
        margin-right: 4rem;
        margin-top: 4rem;
        width: 50%;
        float: right;
    }
    
    .about-title{
        color: white;
        font-size: 4rem;
    }
    
    .edits-title{
        color: white;
        font-size: 3rem;
    }
    
    .about-desc{
        color: white;
    }
  }