         
   .navbar-custom {
    background-color: 
black}
 
body{
    background-color: black;
/* max-width: fit-content; */
}

.content{
    /* margin-top: -5rem; */
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20.2rem;
    color: white;
}

.contacts{
float: right;
/* margin: 0; */
/* margin-right: -3rem; */
   position:fixed;
    top: 95%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.profile{
    position:absolute;
   bottom:0;
   


}

.photo{
    /* margin-bottom: -4rem; */
/* height: 40rem; */
width: 60%;
}


.picture{
    /* width: 50%; */
    width: auto;
    /* position:absolute; */
    /* bottom:0; */
    /* width:100%; */
    /* height:60px; */
}

.txt-content{
    margin-left: 1rem;
    margin-top: 2rem;
    width: 90%;
    /* float: righ; */
}

.about-title{
    color: white;
    font-size: 3rem;
}

.edits-title{
    color: white;
    font-size: 2rem;
}

.about-desc{
    color: white;
}



.flower1{
    display: none;
      margin-left: -2rem;
      position: fixed;
      width: 20rem;
      transform: rotate(40deg);
  }

  .flower2{
    /* display: none; */
    display: none;
   z-index: 3;
      /* top: 3rem; */
      bottom: -4rem;
      right: 0;
      float: right;
    margin-left: -10rem;
    position: fixed;
    width: 20rem;
    transform: rotate(-40deg);
}

.edit-heading{
    color: white;
}


.video{
    height: 20rem;
    width: 40rem;
    background-color: pink;
    z-index: 2;
}


@media screen and (min-width: 500px) {
     
/* body{
    background-color: pink;
} */
    .content{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 20.2rem;
        color: white;
    }
    
    .contacts{
    float: right;
    /* margin: 0; */
    /* margin-right: -3rem; */
       position:fixed;
        top: 95%;
        left: 90%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      
    }
    
    .profile{
        position:absolute;
       bottom:0;
       
    
    
    }
    .photo{
    height: auto;
}

    
    .picture{
        position:absolute;
        bottom:0;
        /* width:100%; */
        /* height:60px; */
    }
    
    .txt-content{
        margin-right: 4rem;
        margin-top: 4rem;
        width: 50%;
        float: right;
    }
    
    .about-title{
        color: white;
        font-size: 4rem;
    }
    
    .edits-title{
       
        color: white;
        font-size: 2rem;
    }
    
    .about-desc{
        color: white;
    }

    
  .flower1{
    display:block;
    margin-left: -2rem;
    position: fixed;
    width: 20rem;
    transform: rotate(40deg);
}

.flower2{
 
 z-index: 3;
 display:block;
    /* top: 3rem; */
    bottom: -4rem;
    right: 0;
    float: right;
  margin-left: -10rem;
  position: fixed;
  width: 20rem;
  transform: rotate(-40deg);
}

.edit-heading{
  color: white;
}


.video{
  height: 20rem;
  width: 40rem;
  background-color: pink;
  z-index: 2;
}
  


}

