
html::-webkit-scrollbar {
    display: none;
}
   .navbar-custom {
    background-color: 
black}
 
body{
    background-color: black;
/* max-width: fit-content; */
}

.content{
    /* margin-top: -5rem; */
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 20.2rem;
    color: white;
}

.video iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.contacts{
float: right;
/* margin: 0; */
/* margin-right: -3rem; */
   position:fixed;
    top: 95%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  
}

.profile{
    position:absolute;
   bottom:0;
   


}

.photo{
    /* margin-bottom: -4rem; */
/* height: 40rem; */
width: 30%;
}


.picture{
    /* width: 50%; */
    width: auto;
    /* position:absolute; */
    /* bottom:0; */
    /* width:100%; */
    /* height:60px; */
}

.txt-content{
    margin-left: 1rem;
    margin-top: 2rem;
    width: 90%;
    /* float: righ; */
}

.about-title{
    color: white;
    font-size: 3rem;
}

.edits-title{
    color: white;
    font-size: 2rem;
}

.about-desc{
    color: white;
    font-size: 1.7rem;
}



.flower1{
    display: none;
      margin-left: -2rem;
      position: fixed;
      width: 20rem;
      transform: rotate(40deg);
  }

  .flower2{
    /* display: none; */
    display: none;
   z-index: 3;
      /* top: 3rem; */
      bottom: -4rem;
      right: 0;
      float: right;
    margin-left: -10rem;
    position: fixed;
    width: 20rem;
    transform: rotate(-40deg);
}

.edit-heading{
    color: white;
}


.video{
    /* height: 20rem; */
    width: 40rem;
    height: 20rem;
    position: relative;
    background-color: pink;
    z-index: 2;
}

.proj-div{
    /* border-radius: 30px; */
    margin: 2rem;
    margin-top: 5rem;
    min-height: 30rem;
    width: 80%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child1{
    min-height: 20rem;
    width: 100%;
    background-image: url('https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_thumbnail_photos/001/856/697/datas/medium.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.child2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    text-align: justify;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    min-height: 15rem;
    width: 100%;
    color: white;
}

@media screen and (min-width: 500px) {
     
/* body{
    background-color: pink;
} */

.child2{
   margin-left: 3rem;
    text-align: justify;
    padding-top: 1rem ;
    padding-bottom: 1rem;
    min-height: 15rem;
    width: 100%;
    color: white;
}

.title-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    /* background-color: pink; */
}
    .content{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 20.2rem;
        color: white;
    }
    
    .contacts{
    float: right;
    /* margin: 0; */
    /* margin-right: -3rem; */
       position:fixed;
        top: 95%;
        left: 90%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      
    }
    
    .profile{
        position:absolute;
       bottom:0;
       
    
    
    }
    .photo{
    height: auto;
}

    
    .picture{
        position:absolute;
        bottom:0;
        /* width:100%; */
        /* height:60px; */
    }
    
    .txt-content{
        margin-right: 4rem;
        margin-top: 4rem;
        width: 50%;
        float: right;
    }
    
    .about-title{
        color: white;
        font-size: 4rem;
    }
    
    .edits-title{
       
        color: white;
        font-size: 4rem;
    }
    
    .about-desc{
        color: white;
    }

    
  .flower1{
    display:block;
    margin-left: -2rem;
    position: fixed;
    width: 20rem;
    transform: rotate(40deg);
}

.flower2{
 
 z-index: 3;
 display:block;
    /* top: 3rem; */
    bottom: -4rem;
    right: 0;
    float: right;
  margin-left: -10rem;
  position: fixed;
  width: 20rem;
  transform: rotate(-40deg);
}

.edit-heading{
  color: white;
}


.video{
  height: 20rem;
  width: 40rem;
  background-color: pink;
  z-index: 2;

}
  

.proj-div{
    /* border-radius: 30px; */
    margin: 7rem;
    font-size: 2rem;
    min-height: 30rem;
    width: 80%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.child1{
    width: 70%; background-color: white;
}

.video iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
}

.title-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
    /* background-color: pink; */
}



.proj-div:hover{
    transform: scale(1.01);
    transition: all 500ms ease;
}



